@import './variables';
@import './mixins';

.features {
  margin: 0 auto;
  margin-bottom: 32px;

  .font-name,
  .text {
    font-family: $fontFamilyName;
  }

  .font-name {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 42px;
  }

  .text {
    line-height: 1.7;
  }

  .feature-toggles {
    margin-bottom: 24px;
  }

  .feature-toggle {
    text-align: center;
    margin-right: 16px;
    margin-bottom: 32px;
    display: inline-flex;
    flex-wrap: wrap;
  }

  .feature-table-heading {
    margin-top: 2.35em;
  }

  .variable-slider {
    margin-bottom: 32px;
  }

  .font-instances {
    margin-bottom: 32px;

    p {
      font-weight: bold;
    }
  }

  table {
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
    overflow: auto;
    font-size: 15px;
    border-collapse: collapse;
    line-height: 1.5;

    th {
      text-align: left;
      padding: 16px 8px;
    }

    td {
      padding: 16px 8px;
    }

    tr {
      border-bottom: 1px solid;
    }

    tbody {
      tr {
        &[data-active='true'] {
          background-color: var(--vscode-editor-hoverHighlightBackground);
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@include vscode-light('.features') {
  table tr {
    border-color: #cccccc !important;
  }
}

@include vscode-dark('.features') {
  table tr {
    border-color: #555555 !important;
  }
}
