@import './variables';
@import './mixins';

.features {
  margin: 0 auto;

  .subtitle {
    font-weight: bold;
  }

  .font-name,
  .text {
    font-family: $fontFamilyName;
  }

  .font-name {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 42px;
  }

  .text {
    line-height: 1.7;
    margin-bottom: 32px;
  }

  .feature-table-heading {
    margin-top: 2.35em;
    margin-bottom: 1em;
    font-family: var(--vscode-editor-font-family);
  }

  .variable-slider:not(:last-child) {
    margin-bottom: 32px;
  }

  section {
    margin-bottom: 3em;
  }
}
