@import './variables';

.font-name-header {
  font-family: $fontFamilyName;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 42px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
