@import './variables';

.font-preview {
  margin: 0 auto;

  .font-name {
    font-family: $fontFamilyName;
    margin-top: 24px;
    font-size: 42px;
  }

  .text-preview {
    line-height: 1.7;
    font-family: $fontFamilyName;
  }
}
