@import './mixins';

$borderRadius: 6px;

@mixin breakpoint() {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

.glyph-inspector-modal {
  &:focus {
    outline: none;
  }

  padding: 0.5em 0;
  animation: slide-up 450ms cubic-bezier(0.38, 0.1, 0.36, 0.9);
  max-height: 685px;
  max-width: 993px;
  border-radius: $borderRadius;
  margin: 0 32px;

  @include breakpoint() {
    overflow: overlay;
  }

  @keyframes slide-up {
    from {
      transform: translateY(10%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .modal-content {
    color: var(--vscode-editor-foreground, var(--theme-foreground));
    background-color: var(--vscode-editor-background);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5em 0 3em 3em;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    border-radius: $borderRadius;

    @include breakpoint() {
      padding: 4em 4em 2em 4em;
      flex-direction: column;
    }
  }

  .modal-close-btn {
    background-color: transparent;
    border: none;
    color: var(--vscode-editor-foreground, var(--theme-foreground));
    position: absolute;
    top: 1.5em;
    right: 1em;
    cursor: pointer;

    svg {
      width: 2em;
      height: 2em;
    }
  }

  .canvas-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  canvas {
    position: absolute;
  }

  .glyph-detail {
    align-self: flex-start;
    margin-left: 3em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding-right: 3em;
    overflow: auto;
    max-height: 500px;
    max-width: 350px;

    @include breakpoint() {
      margin-left: 0;
      margin-top: 3em;
      width: 100%;
      padding-right: 0;
      max-width: 516px;
      max-height: 100%;
    }
  }

  table {
    border-collapse: collapse;
    font-size: 15px;
    font-family: var(--vscode-editor-font-family);
    color: var(--vscode-editor-foreground, var(--theme-foreground));

    tr:hover {
      background-color: var(--vscode-editor-hoverHighlightBackground);
    }

    td {
      padding: 0.5em 1em;

      &:last-child {
        padding-left: 2em;
      }
    }

    @include breakpoint() {
      margin-bottom: 1em;

      td:last-child {
        text-align: right;
      }
    }
  }

  .chip-actions {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .chip-action {
    font-family: var(--vscode-editor-font-family);
    font-size: 15px;
    width: 100%;
  }

  .toggle-list {
    margin: 2em 0 1em 0;
    padding-left: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint() {
      display: block;
    }
  }

  .feature-toggle {
    margin-right: 42px;
    margin-bottom: 32px;

    @include breakpoint() {
      display: inline-flex;
      flex-wrap: wrap;
    }
  }

  .feature-toggle .title {
    font-family: var(--vscode-editor-font-family);
  }
}

.glyph-inspector-modal-overlay {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  animation: fade-in 450ms cubic-bezier(0.38, 0.1, 0.36, 0.9);

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
