@import './variables';
@import './mixins';

.glyphs {
  .page-button-wrapper {
    overflow: hidden;
    width: 100%;
    height: 44px;
    margin-bottom: 32px;
    position: sticky;
    background-color: var(--vscode-editor-background);
    z-index: 10;
    top: $tabBarHeight;
    padding-top: 12px;
    margin-top: -12px;
  }

  .page-button-row {
    height: 84px;
    padding-bottom: 20px;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
  }

  .row-spacer {
    padding-left: 64px;
    visibility: hidden;
  }

  .font-name,
  .glyph-item {
    font-family: $fontFamilyName;
  }

  .font-name {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 42px;
  }
}
