@import './variables';
@import './mixins';

.glyphs {
  .font-name,
  .glyph {
    font-family: $fontFamilyName;
  }

  .font-name {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 42px;
  }

  .glyph {
    position: relative;
    border: 1px solid;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: -1px 0 0 -1px;
    width: 2.5em;
    height: 2.5em;
    font-size: 3.5em;
    user-select: none;
    cursor: pointer;
    overflow: hidden;

    .glyph-detail {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-family: var(--vscode-font-family, var(--theme-font-family));
      font-size: 12px;
      padding: 8px 6px;
      border-top: 1px solid;
      transform: translateY(calc(100% + 1px));
      text-align: center;
      background-color: var(--vscode-editor-background);
      z-index: 2;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover .glyph-detail {
      transform: translateY(0%);
    }

    &::before {
      content: attr(data-index);
      font-family: var(--vscode-font-family, var(--theme-font-family));
      position: absolute;
      bottom: 4px;
      left: 4px;
      font-size: 12px;
    }
  }

  .react-toast {
    font-family: var(--vscode-font-family, var(--theme-font-family));
    border-radius: 0;
    color: var(--vscode-notifications-foreground, var(--theme-foreground));
    background-color: var(--vscode-notifications-background);
    box-shadow: 0px 0px 8px 2px var(--vscode-widget-shadow);
    min-height: unset;
    padding: 10px;

    svg {
      fill: var(--vscode-notifications-foreground, var(--theme-foreground));
    }
  }

  .react-toast__enter {
    animation: slide-up 0.3s ease-in-out both;
  }

  .react-toast__exit {
    animation: slide-down 0.3s ease-in-out both;
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(0%);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}

@include vscode-light('.glyphs') {
  .glyph,
  .glyph-detail {
    border-color: #cccccc !important;
  }

  .glyph::before {
    color: #7a7a7a;
  }
}

@include vscode-dark('.glyphs') {
  .glyph,
  .glyph-detail {
    border-color: #555555 !important;
  }

  .glyph::before {
    color: #bababa;
  }
}
