@import './variables';

:root {
  // Exposing this here so that the value can be accessed in JS
  --font-family-name: #{$fontFamilyName};
}

p {
  font-size: 15px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

body {
  overflow-y: overlay;
}
