.switch {
  $checkbox-height: 28px;

  width: 56px;
  height: $checkbox-height;

  .title {
    width: 100%;
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    cursor: pointer;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked + .background {
      background-color: var(--vscode-textLink-foreground);

      &::before {
        transform: translateX(calc(100% + 4px));
      }
    }

    .background {
      transition: background-color 0.2s ease-in-out;
      background-color: hsl(0, 0%, 70%);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: inherit;

      // Represents the switch thumb
      &::before {
        content: '';
        transition: transform 0.2s ease-in-out;
        width: $checkbox-height - 4px;
        height: $checkbox-height - 4px;
        position: absolute;
        top: 2px;
        left: 2px;
        background-color: white;
        border-radius: inherit;
        box-shadow: 0 2px 4px #00230b33;
      }
    }
  }
}
