@import './variables';

.typing-preview {
  padding-bottom: 80vh;

  .row {
    display: flex;
    width: 100%;
    align-items: center;

    h2 {
      margin-right: 12px;
    }
  }

  .pinned {
    width: 80vw;
    z-index: 1;
    position: fixed;
    top: 32px;
    padding: 16px 0;
    left: 50%;
    right: -50%;
    max-height: 40%;
    overflow: auto;
    transform: translate(-50%, 0);

    .row {
      position: sticky;
      top: -16px;
      background-color: var(--vscode-editor-background);
      z-index: 2;
    }
  }

  .text-preview {
    width: 100%;
    font-family: $fontFamilyName;
    line-height: 1.2;
    background-color: transparent;
    color: var(--vscode-editor-foreground, var(--theme-foreground));
    display: inline-block;
    white-space: pre-wrap;

    &:focus {
      outline: none;
    }
  }

  .attribute-slider {
    margin-bottom: 32px;
  }

  section {
    margin-bottom: 3em;
    background-color: var(--vscode-editor-background);
  }
}
