.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
web/**
web-dist/**
fonts/**
.husky/**
.idea/**
.prettierrc.json
.prettierignore
.env
eslint.base.js
lint-staged.config.js
yarn-error.log
*.vsix
scripts/**
