@import './mixins';

.chip {
  height: 32px;
  margin: 6px 4px;
  padding: 0 21px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid;
  color: var(--vscode-editor-foreground, var(--theme-foreground));
  font-size: 12px;
  font-family: var(--vscode-font-family, var(--theme-font-family));

  &.chip--selected,
  &:hover {
    background-color: var(--vscode-editor-hoverHighlightBackground);
  }

  &:focus {
    outline: none;
  }
}

@include vscode-light {
  .chip {
    border-color: #cccccc !important;
  }
}

@include vscode-dark {
  .chip {
    border-color: #555555 !important;
  }
}
