// Need to add the div selector for extra specificity
div.react-toast {
  font-size: var(--vscode-font-size, 13px);
  font-family: var(--vscode-font-family, var(--theme-font-family));
  border-radius: 0;
  color: var(--vscode-notifications-foreground, var(--theme-foreground));
  background-color: var(--vscode-notifications-background);
  box-shadow: 0px 0px 8px 2px var(--vscode-widget-shadow);
  min-height: unset;
  padding: 10px;

  svg {
    fill: var(--vscode-notifications-foreground, var(--theme-foreground));
  }
}

.react-toast__enter {
  animation: toast-slide-up 0.3s ease-in-out both;
}

.react-toast__exit {
  animation: toast-slide-down 0.3s ease-in-out both;
}

@keyframes toast-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes toast-slide-down {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes toast-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
